.main-header {
  font-family: 'Great Vibes', cursive;
  font-size: 68px;
  color: white;
  filter: drop-shadow(8px 8px 18px white);
  margin: 10px;
}

h1 {
  text-align: center;
}


header nav {
  display: flex;
  justify-content: space-around;
}

.center-btn {
  height: 200px;
  position: relative;
}

#center-me {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#292841;
  color: white;
}

html {
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.comments {
  font-weight: bolder;
  font-size: 20px;
}

.list-header {
  font-family: 'Squada One', cursive;
  padding: 14px;
}

.nav-links{
  background-color: #7371b1;
  box-shadow: 0 5px 0 #25252b;
  color: white;
  padding: 1em 1.5em;
  margin-bottom: 15px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 7px;
  cursor: pointer;
}

.nav-links-red{
  background-color: #e25f48;
  box-shadow: 0 5px 0 #25252b;
  color: white;
  padding: 1em 1.5em;
  margin-bottom: 15px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 7px;
  cursor: pointer;
}

#pad-me {
  margin-left: 5px;
}

.form-input {
  border-radius: 7px;
  padding: 3px;
  margin: 10px;
  height: 50px;
  border: #25252b;
}

#center-txt {
  display: flex;
  justify-content: center;
}

#container {
  justify-content: space-between;
  flex-direction: row;
  height: 500px;
  display: flex;
}
#container .btn-holder {
  justify-content: center;
  display: flex;
}

.nav-links:hover {
  background-color: gainsboro;
  text-decoration: none;
  color: black;
}

.nav-links:active {
  box-shadow: none;
  top: 5px;
}

.home-page {
  text-align: center;
  font-size: 80px;
  font-family: 'Squada One', cursive;
  padding: 14px;
}

.home-page-p {
  text-align: center;
  font-size: 17px;
}

.bg-img {
  width: 100%;
  height: auto;
  border-style: solid;
  border-color: white;
}

form, button {
  display: flex;
  justify-content: center;
}

p {
  font-size: 14px;
}

#center-btn {
  display: flex;
  justify-content: center;
}

.listbuilder-ul {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.gift {
  border-style: solid;
  border-color: black;
  padding: 3px;
  color: white;
  background-color: #4e5363;
  margin: 3px;
  width: 25%;
  border-radius: 7px;
}

.MuiInputBase-input {
  color: white;
}